html{
    border-radius: 5px;
}


body {
   background-color: #3f3f3f;
   margin: 0 ;
   padding: 0;
   font-family: sans-serif;
   width: 200px;
   height: 350px;
   overflow-y: scroll;
   border-radius: 15px;
}

h3{
    font-weight: bold;
    padding: 5px;
    color: antiquewhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: min-content;
}



.AddButton {
    padding: 2px 6px;
    border-radius: 5px; 
    background-color: #121212;
    cursor: default;
}


ul {
    position: relative;
    width: 180px;
    margin: 0 auto;
    padding: 10px;
    box-sizing: box-border ;

}

ul li{
    display: flex;
    background-color: rgba(255,255,255,.1);
    color: antiquewhite;
    padding: 5px 10px;
    margin: 3px 0;
    text-align: center;
    border-radius: 5px;

}

ul li:hover{
    transition: 0.2s;
    transform: scale(1.05);
}



.item-name{
    width: 80px;
    color: antiquewhite;
}

.item-name:hover{
    transition: 0.2s;
    color: #59ada1;
}



.price{
    width: 150px;
    text-align: end;
    padding-right: 10px;
}

.delete-button{
    width: 17px;
    border-radius: 5px;
    justify-content: center;
    text-align: center;
}

.delete-button:hover{
    background-color: #f95e4a;
    transition: 0.2s;
    transform: scale(1.25);
    cursor: default;
}

.Subtotal {
    color: antiquewhite;
    text-align: right;
    padding-right: 17px;
    padding-left: 10px;
    margin: 0 auto;
    font-weight: bold;


}


